
#searchResults {
    border:1px solid blue;
    height: 350px;
    overflow: scroll;

}
#details {
    height: 350px;
    background: #ddd;

}
img {
    margin:10px auto;
    width: auto;
}
.favoriteCell {
    height: 50px;
    width: auto;
}
#searchResults .results li {
    list-style-type:none;
    border-bottom: 1px solid ;
    margin-top: 5px;
}
#searchResults .results li:hover {
    background: rgb(255, 240, 222);
}