#search{}  ///////

#favoriteSearch {}  ///

/* #results {
    border:1px solid blue;
    height: 400px;
}
 */#details {
    height: 400px;
    background: #ddd;

}
img {
    margin:30px auto;
    width: auto;
}
.favoriteCell {
    height: 50px;
    width: auto;

}